@page
@model RadioAmateurHelper.Pages.Admin.BlogModel
@{
    ViewData["Title"] = "Блог и проекты";
}

<div class="header-overlay">
    <h1>Блог и проекты</h1>
    <p>Создание и редактирование записей блога.</p>
</div>