@page
@model RadioAmateurHelper.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Панель администратора";
}

<div class="header-overlay">
    <h1>Панель администратора</h1>
    <div class="description">
        Добро пожаловать в административную панель. Здесь вы можете управлять содержимым сайта.
    </div>

    <div class="nav-links">
        <a href="/Admin/ServiceRequests">Заявки на ремонт</a>
        <a href="/Admin/Circuits">Схемы</a>
        <a href="/Admin/References">Справочники</a>
        <a href="/Admin/Firmwares">Прошивки</a>
        <a href="/Admin/Blog">Блог и проекты</a>
        <a href="/Admin/Users">Пользователи</a>
        <a href="/Admin/Settings">Настройки</a>
    </div>
</div>
