@page
@model RadioAmateurHelper.Pages.Admin.ReferencesModel
@{
    ViewData["Title"] = "Управление справочниками";
}

<div class="header-overlay">
    <h1>Справочники</h1>
    <p>Здесь будут материалы для редактирования справочников.</p>
</div>
