@page
@model RadioAmateurHelper.Pages.Admin.SettingsModel
@{
    ViewData["Title"] = "Настройки сайта";
}

<div class="header-overlay">
    <h1>Настройки сайта</h1>
    <p>Редактирование основных настроек сайта.</p>
</div>
