@page
@model RadioAmateurHelper.Pages.Admin.UsersModel
@{
    ViewData["Title"] = "Пользователи";
}

<div class="header-overlay">
    <h1>Пользователи</h1>
    <p>Список зарегистрированных пользователей.</p>
</div>
