@page
@model RadioAmateurHelper.Pages.BlogModel
@{
    ViewData["Title"] = "Блог и проекты";
}

<h2>Блог и лента проектов</h2>
<p>В этом разделе вы можете публиковать свои радиолюбительские проекты (в разработке).</p>