@page
@model RadioAmateurHelper.Pages.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Главная";
}



<div class="top-bar">
    <div class="top-bar-buttons">
        @* Добавляем пункт Админка только для нужного Email *@
        @if (User.Identity?.IsAuthenticated == true && User.Identity.Name == "Leka-07@bk.ru")
        {
            <a href="/Admin">Админка</a>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" style="display:inline;">
                <button type="submit" class="btn btn-link">Выход (@User.Identity?.Name)</button>
            </form>
        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
        }
    </div>
</div>
<div class="header-overlay">
    <div class="header-content">
        <h1 class="main-title">Помощник радиолюбителя</h1>
        <div class="description">
            На этом сайте вы найдете полезные схемы, прошивки, справочную информацию и сможете воспользоваться калькуляторами. Мы также оказываем помощь в ремонте и настройке радиоаппаратуры.
        </div>
        <div class="nav-links">
            <a href="/Circuits">Сборник схем</a>
            <a href="/Firmwares">Прошивки</a>
            <a href="/References">Справочники и документация</a>
            <div class="dropdown">
                <a class="dropbtn">Калькуляторы ▾</a>
                <div class="dropdown-content">
                    <a href="/Calculators/OhmLaw">Закон Ома</a>
                    <a href="/Calculators/LCResonance">LC-резонанс</a>
                    <a href="/Calculators/Divider">Делитель напряжения</a>
                    <a href="/Calculators/Antennas">Расчет антенн</a>
                </div>
            </div>
            <a href="/Components">Каталог компонентов (магазин админа)</a>
            <a href="/Exchange">Обмен и барахолка</a>
            <a href="/Simulators">Онлайн-симуляторы</a>
            <a href="/Blog">Блог и проекты</a>
            <a href="/Services">Услуги и помощь</a>
            
        </div>
    </div>
</div>


<div class="image-grid">
    <a href="/Services">
        <img class="preview-image" src="/uploads/images/example_home.png" alt="ремонт" />
    </a>
    <a href="/Calculators">
        <img class="preview-image" src="/uploads/images/calculators_home.png" alt="калькуляторы" />
    </a>
    <a href="/Simulators">
        <img class="preview-image" src="/uploads/images/simulators_home.png" alt="Онлайн-симуляторы" />
    </a>
    <a href="/Firmwares">
        <img class="preview-image" src="/uploads/images/firmware_home_1.png" alt="прошивки" />
    </a>
    <a href="/References">
        <img class="preview-image" src="/uploads/images/references_home.png" alt="справочники" />
    </a>
    <a href="/Exchange">
        <img class="preview-image" src="/uploads/images/exchange_home.png" alt="Обмен и барахолка" />
    </a>
    <a href="/Circuits">
        <img class="preview-image" src="/uploads/images/circuit_home.png" alt="схемы" />
    </a>    
    <a href="/Blog">
        <img class="preview-image" src="/uploads/images/blog_home.png" alt="Блог и проекты" />
    </a>
    <a href="/Components">
        <img class="preview-image" src="/uploads/images/components_home.png" alt="Каталог компонентов (магазин админа)" />
    </a>
</div>